[buildout]
develop = .
parts = pyflakes
unzip = true

[pyflakes]
recipe = zc.recipe.egg
scripts =
    pyflakes
eggs =
    pyflakes
    setuptools
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'
